@font-face {
  font-family: 'socialfont';
  src: url('3rd/socialfont/fonts/socicon-webfont.eot');
  src: url('3rd/socialfont/fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
       url('3rd/socialfont/fonts/socicon-webfont.woff') format('woff'),
       url('3rd/socialfont/fonts/socicon-webfont.ttf') format('truetype'),
       url('3rd/socialfont/fonts/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}